<div class="home-container">
    <section class="greetings">
        <h2>Қош келдіңіз!</h2>
    </section>
    <section class="rules">
        <h3 class="rules-title">Ережелер:</h3>
        <div class="rules-description">
            <ol>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Integer et ultrices neque. Aliquam libero libero, lobortis quis fermentum venenatis, vehicula ac sapien.</li>
                <li>Sed auctor auctor massa ut mattis. Aliquam erat volutpat. Morbi elementum lacus ac diam tincidunt volutpat.</li>
                <li>Aenean lectus sem, hendrerit eget urna id, mattis maximus eros. In porta elit libero, quis faucibus purus suscipit vitae. 
                Fusce eros mauris, porta vitae lobortis vel, ultricies a ipsum. </li>
                <li>Donec non condimentum ipsum, et efficitur nibh. Sed aliquam sed eros eu lobortis. 
                Vivamus eu arcu ac dolor iaculis fermentum eu a dolor</li>
                <li> In rutrum odio viverra nunc aliquet feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
            </ol>
        </div>
        <a [routerLink]="['/topics']">Бастайық!</a>
    </section>
</div>
