<div class="home-container">
    <section class="greetings">
        <h2>Қош келдіңіз!</h2>
    </section>
    <section class="rules">
        <h3 class="rules-title">Ережелер:</h3>
        <div class="rules-description">
            <ol>
                <li>Ойын басталғанға дейін қатысушылар топтарга бөлінеді.</li>
                <li>Әр топ капитанды және өз тобының атын таңдайды.</li>
                <li>Топтар сұрақтарына кезекпен жауап береді. Ойлар мен талқылаулар үшін топтарға 2 минут беріледі. 
                Жауап болмаған немесе дұрыс емес жауап болған жағдайда, басқа топтар сол сұраққа жауап беріп, 
                өздеріне ұпай алуға мүмкіндік алады.</li>
                <li>Ең көп ұпай жинаған топ жеңеді.</li>
            </ol>
        </div>
        <a [routerLink]="['/topics']">Бастайық!</a>
    </section>
</div>
